<div class="pad">
  <h4>User Feedback Module</h4>
  <div layout="row">
    <button mat-raised-button class="push-sm" color="primary" (click)="openToast()">
      Toast TEST
    </button>
    <button mat-raised-button class="push-sm" color="accent" (click)="openDialog()">
      Error TEST
    </button>
  </div>
</div>
<div class="pad">
  <h4>Auth Module</h4>
  <p *ngIf="loggedIn">User is logged in: {{ user | json }}</p>
  <div layout="row">
    <div>
      <a *ngIf="!loggedIn" mat-raised-button routerLink="/login" routerLinkActive="active" color="accent">
        Log In
      </a>
      <a *ngIf="loggedIn" mat-raised-button color="primary" (click)="logout()">
        Log Out
      </a>
    </div>
  </div>

  <div class="pad-top">
    <h4>App Module</h4>
    <div *ngIf="!apps || apps.length === 0" layout="row" layout-align="start center">
      <p>Please Log In as User1 to view Apps!!</p>
    </div>
    <ng-template let-app let-last="last" ngFor [ngForOf]="apps">
      <div mat-list-item layout="row">
        <app-app-icon matListAvatar class="app-icon-size" [color]="'tc-' + app?.color" [app]="app"></app-app-icon>
        <p class="push-top-xs pad-left-sm">{{ app?.name }}</p>
      </div>
    </ng-template>
  </div>
</div>
