<td-layout-nav color="none">
  <div td-toolbar-content layout="row" layout-align="start center" flex>
    Second toolbar row
  </div>

  <div layout="row" layout-align="center start">
    <div flex="80">
      <div class="pad-md pad-bottom-none push push-bottom push-top-md">
        <mat-slide-toggle
          class="push-bottom-lg"
          [checked]="darkThemeIsActive"
          (change)="lightThemeIsActive ? applyDarkTheme() : applyLightTheme()"
        >
          <span class="mat-input">Dark mode</span>
        </mat-slide-toggle>

        <nav mat-tab-nav-bar class="push-bottom-none">
          <a
            mat-tab-link
            *ngFor="let link of navLinks"
            [routerLink]="link.route"
            routerLinkActive="active"
            #rla="routerLinkActive"
            [active]="rla.isActive"
          >
            {{ link.name }}
          </a>
        </nav>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</td-layout-nav>
