<div layout="row" class="pad-top">
  <div class="pad-md push" flex>
    <div class="example-logo push-bottom-xxl pad-bottom-lg">
      <h4 class="push-bottom-md example-h4 text-upper tc-grey-600">Teradata logos</h4>

      <mat-icon class="logo-icon" svgIcon="td-logo:logo-mark"></mat-icon>
      <mat-icon class="logo-icon" svgIcon="td-logo:logo-wordmark"></mat-icon>
    </div>

    <div class="push-bottom-xxl pad-bottom-lg">
      <h4 class="push-bottom-md example-h4 text-upper tc-grey-600">Teradata icons</h4>

      <div layout="row" flex="100" layout-wrap [style.maxHeight.px]="2000" layout-gt-md="column">
        <ng-container *ngFor="let icon of icons">
          <div layout="row" class="push-right-md size-height-64" layout-align="start center" flex-gt-sm="33" flex="50">
            <mat-icon [svgIcon]="'td-icons:' + icon"></mat-icon>
            <div class="push-bottom pad-top push-left">{{ icon }}</div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
