<td-layout>
  <td-layout-nav toolbarTitle="UI Platform Testbed">
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <span flex></span>

      <vui-app-switcher
        [products]="products"
        [otherProducts]="otherProducts"
        [exploreMoreLink]="exploreMoreLink"
        [matTooltip]="'Other Applications' | translate"
      ></vui-app-switcher>

      <vui-user-profile></vui-user-profile>

      <a mat-flat-button color="none" target="_blank" href="https://github.com/Teradata/vantage-ui-platform">
        GITHUB
      </a>
    </div>

    <router-outlet></router-outlet>
  </td-layout-nav>
</td-layout>
