<div layout="row" class="pad-top">
  <div flex="50" class="pad-md push">
    <!-- Material Button -->
    <div class="push-bottom-xxl pad-bottom-lg">
      <h4 class="push-bottom-md example-h4 text-upper tc-grey-600">Material Button</h4>

      <button class="app-button" mat-button color="none">Flat</button>
      <button class="app-button" mat-button color="primary">Flat primary</button>
      <button class="app-button" mat-button color="accent">Flat accent</button>
      <button class="app-button" mat-button color="warn">Flat warn</button>
      <button class="app-button" mat-button disabled>Flat disabled</button>
      <br />
      <br />
      <br />
      <button class="app-button" mat-raised-button mat-tooltip="This is a tooltip!">Raised</button>
      <button class="app-button" mat-raised-button color="primary">Primary raised</button>
      <button class="app-button" mat-raised-button color="accent">Accent raised</button>
      <button class="app-button" mat-raised-button color="warn">Warn raised</button>
      <button class="app-button" mat-raised-button disabled>Disabled raised</button>
      <br />
      <br />
      <br />
      <button class="app-button" mat-stroked-button color="none">Stroked</button>
      <button class="app-button" mat-stroked-button color="primary">Primary stroked</button>
      <button class="app-button" mat-stroked-button color="accent">Accent stroked</button>
      <button class="app-button" mat-stroked-button color="warn">Warn stroked</button>
      <button class="app-button" mat-stroked-button disabled>Disabled stroked</button>
      <br />
      <br />
      <br />
      <button mat-icon-button aria-label="Example icon-button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button color="accent" aria-label="Example icon-button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button disabled aria-label="Example icon-button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
    <!-- /Material Button -->

    <!-- Material Chip List -->
    <div class="push-bottom-xxl pad-bottom-lg">
      <h4 class="push-bottom-md example-h4 text-upper tc-grey-600">Material Chips (unselected)</h4>

      <mat-chip-list>
        <mat-chip>
          Default / Primary
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip color="accent">
          Accent
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip color="warn">
          Negative
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip color="caution">
          Caution
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip color="positive">
          Positive
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip color="emphasis">
          Emphasis
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip color="neutral">
          Neutral
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>

    <div class="push-bottom-xxl pad-bottom-lg">
      <h4 class="push-bottom-md example-h4 text-upper tc-grey-600">Material Chips (selected)</h4>

      <mat-chip-list>
        <mat-chip selected="true">
          Default / Primary
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip color="accent" selected="true">
          Accent
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip color="warn" selected="true">
          Negative
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip color="caution" selected="true">
          Caution
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip color="positive" selected="true">
          Positive
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip color="emphasis" selected="true">
          Emphasis
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip color="neutral" selected="true">
          Neutral
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
    <!-- /Material Chip List -->

    <!-- Material Checkbox -->
    <div class="push-bottom-xxl pad-bottom-lg">
      <h4 class="push-bottom-md example-h4 text-upper tc-grey-600">Material Checkbox</h4>

      <mat-checkbox color="warn">Unchecked</mat-checkbox>
      <mat-checkbox [checked]="true">Checked</mat-checkbox>
      <mat-checkbox [indeterminate]="true">Indeterminate</mat-checkbox>
      <mat-checkbox [disabled]="true">Disabled</mat-checkbox>
    </div>
    <!-- /Material Checkbox -->

    <!-- Material Radio Button -->
    <div class="push-bottom-xxl pad-bottom-lg">
      <h4 class="push-bottom-md example-h4 text-upper tc-grey-600">Material Radio Button</h4>

      <mat-radio-button name="symbol">Alpha</mat-radio-button>
      <mat-radio-button name="symbol">Beta</mat-radio-button>
      <mat-radio-button name="symbol" disabled>Disabled</mat-radio-button>
    </div>
    <!-- /Material Radio Button -->

    <!-- Material Input -->
    <div class="app-input-section push-bottom-xl">
      <h4 class="push-bottom-md example-h4 text-upper tc-grey-600">Material Input</h4>

      <p>
        <mat-form-field appearance="legacy">
          <mat-label>Legacy form field</mat-label>
          <input matInput placeholder="Placeholder" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="legacy" color="warn">
          <mat-label>Legacy form field (warn)</mat-label>
          <input matInput placeholder="Placeholder" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Standard form field</mat-label>
          <input matInput placeholder="Placeholder" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard" color="warn">
          <mat-label>Standard form field (warn)</mat-label>
          <input matInput placeholder="Placeholder" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Fill form field</mat-label>
          <input matInput placeholder="Placeholder" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" color="warn">
          <mat-label>Fill form field (warn)</mat-label>
          <input matInput placeholder="Placeholder" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Outline form field</mat-label>
          <input matInput placeholder="Placeholder" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline" color="warn">
          <mat-label>Outline form field (warn)</mat-label>
          <input matInput placeholder="Placeholder" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </p>
    </div>
    <!-- /Material Input -->

    <!-- Material Select -->
    <div class="push-bottom-xxl pad-bottom-lg">
      <h4 class="push-bottom-md example-h4 text-upper tc-grey-600">Material Select</h4>

      <mat-form-field>
        <mat-select placeholder="Favorite game" [(ngModel)]="selectedValue" name="game">
          <mat-option *ngFor="let game of games" [value]="game.value">
            {{ game.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p>Selected value: {{ selectedValue }}</p>
      <!-- /Material Select -->
    </div>

    <!-- Material List -->
    <div class="push-bottom-xxl pad-bottom-lg">
      <h4 class="push-bottom-md example-h4 text-upper tc-grey-600">Material List</h4>

      <mat-list class="app-list">
        <mat-list-item *ngFor="let food of foods">
          <h3 mat-line>{{ food.name }}</h3>
          <p mat-line class="demo-secondary-text">{{ food.rating }}</p>
        </mat-list-item>
      </mat-list>
    </div>
    <!-- /Material List -->

    <!-- Material Grid List -->
    <div class="push-bottom-xxl pad-bottom-lg">
      <h4 class="push-bottom-md example-h4 text-upper tc-grey-600">Material Grid List</h4>

      <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile
          class="grid-test-1"
          *ngFor="let tile of tiles"
          [colspan]="tile.cols"
          [rowspan]="tile.rows"
          [style.background]="tile.color"
        >
          {{ tile.text }}
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <!-- /Material Grid List -->
  </div>
  <div flex="50" class="pad-md push">
    <!-- Material Card -->
    <div class="push-bottom-xxl pad-bottom-lg">
      <h4 class="push-bottom-md example-h4 text-upper tc-grey-600">Material Card</h4>
      <mat-card class="example-card">
        <mat-card-title>Shiba Inu</mat-card-title>
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small,
            agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
          </p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <!-- Material Spinner -->
    <div class="push-bottom-xxl pad-bottom-lg">
      <h4 class="push-bottom-md example-h4 text-upper tc-grey-600">Progress Spinner</h4>

      <section class="example-section">
        <label class="example-margin">Color:</label>
        <mat-radio-group [(ngModel)]="color">
          <mat-radio-button class="example-margin" value="primary">
            Primary
          </mat-radio-button>
          <mat-radio-button class="example-margin" value="accent">
            Accent
          </mat-radio-button>
          <mat-radio-button class="example-margin" value="warn">
            Warn
          </mat-radio-button>
        </mat-radio-group>
      </section>

      <section class="example-section">
        <label class="example-margin">Mode:</label>
        <mat-radio-group [(ngModel)]="mode">
          <mat-radio-button class="example-margin" value="determinate">
            Determinate
          </mat-radio-button>
          <mat-radio-button class="example-margin" value="indeterminate">
            Indeterminate
          </mat-radio-button>
        </mat-radio-group>
      </section>

      <section class="example-section" *ngIf="mode === 'determinate'">
        <label class="example-margin">Progress:</label>
        <mat-slider class="example-margin" [(ngModel)]="value"></mat-slider>
      </section>

      <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value"></mat-progress-spinner>
    </div>
    <!-- /Material Spinner -->

    <!-- Material Progress Bar -->
    <div class="push-bottom-xxl pad-bottom-lg">
      <h4 class="push-bottom-md example-h4 text-upper tc-grey-600">Material Progress Bar</h4>

      <label>
        Indeterminate progress-bar
        <mat-progress-bar
          class="app-progress"
          mode="indeterminate"
          aria-label="Indeterminate progress-bar example"
        ></mat-progress-bar>
      </label>
      <label>
        Determinate progress bar - {{ progress }}%
        <mat-progress-bar
          class="app-progress"
          color="accent"
          mode="determinate"
          [value]="progress"
          aria-label="Determinate progress-bar example"
        ></mat-progress-bar>
      </label>
    </div>
    <!-- /Material Progress Bar -->

    <!-- Material Tab -->
    <div class="push-bottom-xxl pad-bottom-lg">
      <h4 class="push-bottom-md example-h4 text-upper tc-grey-600">Material Tab</h4>

      <mat-tab-group>
        <mat-tab label="Air Nomads">
          <p>
            The Air Nomads were a civilization composed of people who practiced the art of airbending. While nomadic,
            Air Nomads did inhabit four major air temples, each built on remote locations, only easily reachable with
            flying bison. The Air Nomads were a highly spiritual group of people.
          </p>
        </mat-tab>
        <mat-tab label="Water Tribe">
          <p>
            The Water Tribe is a collective term for people, some of whom practice the art of waterbending, who follow a
            government system in the form of a tribal chiefdom. Although members of the Water Tribe typically inhabit
            the polar regions, the North Pole and the South Pole, there is a small population of waterbenders who
            inhabit the Foggy Swamp in Earth Kingdom territory. The two main tribes are the Northern Water Tribe at the
            North Pole and the Southern Water Tribe at the South Pole.
          </p>
        </mat-tab>
        <mat-tab label="Earth Kingdom">
          <p>
            The Earth Kingdom is a massive continent led by an earth monarch and is home to people who practice the art
            of earthbending. Being the largest of the four nations, it is ethnically diverse with a variance of customs
            and cultural traditions. The people of the Earth Kingdom are strong and persistent. The geography of the
            Earth Kingdom varies tremendously, ranging from wooded forests to blazing deserts, mountainous terrain, and
            grassy plains.
          </p>
        </mat-tab>
        <mat-tab label="Fire Nation">
          <p>
            The Fire Nation is home to people who practice the art of firebending and is an absolute monarchy led by the
            Fire Lord. Being composed of several major islands and located on the equator, the nation is considered to
            be an archipelago. Its economy is the largest and most powerful in the world with a strong industrial sector
            and advanced technological developments. The climate is normally humid and warm which allows for a diversity
            of flora and fauna to thrive.
          </p>
        </mat-tab>
      </mat-tab-group>
    </div>
    <!-- /Material Tab -->

    <div class="example-icons push-bottom-xxl pad-bottom-lg">
      <h4 class="push-bottom-md example-h4 text-upper tc-grey-600">Material icons</h4>

      <mat-icon>build</mat-icon>
      <mat-icon>android</mat-icon>
    </div>

    <div class="example-icons push-bottom-xxl pad-bottom-lg">
      <h4 class="push-bottom-md example-h4 text-upper tc-grey-600">Teradata icons</h4>

      <mat-icon svgIcon="td-icons:product_analyst"></mat-icon>
      <mat-icon svgIcon="td-icons:product_console"></mat-icon>
      <mat-icon svgIcon="td-icons:product_explorer"></mat-icon>
      <mat-icon svgIcon="td-icons:teradata"></mat-icon>

      <mat-icon svgIcon="td-icons:alias_arrow"></mat-icon>
      <mat-icon svgIcon="td-icons:node_branch"></mat-icon>
      <mat-icon svgIcon="td-icons:connected_identity"></mat-icon>
      <mat-icon svgIcon="td-icons:data_preparation"></mat-icon>
      <mat-icon svgIcon="td-icons:data_search"></mat-icon>
      <mat-icon svgIcon="td-icons:data_sources"></mat-icon>
      <mat-icon svgIcon="td-icons:formula"></mat-icon>
      <mat-icon svgIcon="td-icons:loader_dots"></mat-icon>
      <mat-icon svgIcon="td-icons:machine_learning"></mat-icon>
      <mat-icon svgIcon="td-icons:script_macro"></mat-icon>
      <mat-icon svgIcon="td-icons:node_merge"></mat-icon>
      <mat-icon svgIcon="td-icons:model"></mat-icon>
      <mat-icon svgIcon="td-icons:model_configuration"></mat-icon>
      <mat-icon svgIcon="td-icons:operators_divide"></mat-icon>
      <mat-icon svgIcon="td-icons:operators_equals"></mat-icon>
      <mat-icon svgIcon="td-icons:operators_greater_than"></mat-icon>
      <mat-icon svgIcon="td-icons:operators_greater_than_or_equal"></mat-icon>
      <mat-icon svgIcon="td-icons:operators_less_than"></mat-icon>
      <mat-icon svgIcon="td-icons:operators_less_than_or_equal"></mat-icon>
      <mat-icon svgIcon="td-icons:operators_multiply"></mat-icon>
      <mat-icon svgIcon="td-icons:operators_not_equal"></mat-icon>
      <mat-icon svgIcon="td-icons:operators_parenthesis"></mat-icon>
      <mat-icon svgIcon="td-icons:operators_parenthesis_left"></mat-icon>
      <mat-icon svgIcon="td-icons:operators_parenthesis_right"></mat-icon>
      <mat-icon svgIcon="td-icons:operators_subtract"></mat-icon>
      <mat-icon svgIcon="td-icons:resize_northeast"></mat-icon>
      <mat-icon svgIcon="td-icons:resize_northwest"></mat-icon>
      <mat-icon svgIcon="td-icons:resize_southeast"></mat-icon>
      <mat-icon svgIcon="td-icons:resize_southwest"></mat-icon>
      <mat-icon svgIcon="td-icons:rules"></mat-icon>
      <mat-icon svgIcon="td-icons:rules--insert"></mat-icon>
      <mat-icon svgIcon="td-icons:rules--select"></mat-icon>
      <mat-icon svgIcon="td-icons:script_sql"></mat-icon>
      <mat-icon svgIcon="td-icons:script_stored_procedure"></mat-icon>
      <mat-icon svgIcon="td-icons:sftp"></mat-icon>
      <mat-icon svgIcon="td-icons:table_edit"></mat-icon>
      <mat-icon svgIcon="td-icons:table_search"></mat-icon>
      <mat-icon svgIcon="td-icons:view_sankey"></mat-icon>
      <mat-icon svgIcon="td-icons:workflow"></mat-icon>
    </div>

    <!-- Material Slider -->
    <div class="push-bottom-xxl pad-bottom-lg">
      <h4 class="push-bottom-md example-h4 text-upper tc-grey-600">Material Slider :: Configuration</h4>

      <section class="example-section">
        <mat-form-field class="example-margin">
          <input matInput type="number" placeholder="Value" [(ngModel)]="slider.value" />
        </mat-form-field>
        <mat-form-field class="example-margin">
          <input matInput type="number" placeholder="Min value" [(ngModel)]="slider.min" />
        </mat-form-field>
        <mat-form-field class="example-margin">
          <input matInput type="number" placeholder="Max value" [(ngModel)]="slider.max" />
        </mat-form-field>
        <mat-form-field class="example-margin">
          <input matInput type="number" placeholder="Step size" [(ngModel)]="slider.step" />
        </mat-form-field>
      </section>

      <section class="example-section">
        <mat-checkbox class="example-margin" [(ngModel)]="slider.showTicks">Show ticks</mat-checkbox>
        <mat-checkbox class="example-margin" [(ngModel)]="slider.autoTicks" *ngIf="slider.showTicks">
          Auto ticks
        </mat-checkbox>
        <mat-form-field class="example-margin" *ngIf="slider.showTicks && !slider.autoTicks">
          <input matInput type="number" placeholder="Tick interval" [(ngModel)]="slider.tickInterval" />
        </mat-form-field>
      </section>

      <section class="example-section">
        <mat-checkbox class="example-margin" [(ngModel)]="slider.thumbLabel">Show thumb label</mat-checkbox>
      </section>

      <section class="example-section">
        <mat-checkbox class="example-margin" [(ngModel)]="slider.checked">Checked</mat-checkbox>
      </section>

      <section class="example-section">
        <mat-checkbox class="example-margin" [(ngModel)]="slider.vertical">Vertical</mat-checkbox>
        <mat-checkbox class="example-margin" [(ngModel)]="slider.invert">Inverted</mat-checkbox>
      </section>

      <section class="example-section">
        <mat-checkbox class="example-margin" [(ngModel)]="slider.disabled">Disabled</mat-checkbox>
      </section>

      <h4 class="push-bottom-md example-h4 text-upper tc-grey-600">Slider Result</h4>
      <mat-slider
        class="example-margin"
        [disabled]="slider.disabled"
        [invert]="slider.invert"
        [max]="slider.max"
        [min]="slider.min"
        [step]="slider.step"
        [thumbLabel]="slider.thumbLabel"
        [tickInterval]="slider.tickInterval"
        [value]="slider.value"
        [vertical]="slider.vertical"
      ></mat-slider>

      <h4 class="push-bottom-md example-h4 text-upper tc-grey-600">Slider Toggle Result</h4>
      <mat-slide-toggle
        [disabled]="slider.disabled"
        [checked]="slider.checked"
        (change)="slider.checked = !slider.checked"
      >
        Slide me!
      </mat-slide-toggle>
    </div>
    <!-- /Material Slider -->

    <!-- Material Menu -->
    <div class="push-bottom-xxl pad-bottom-lg">
      <h4 class="push-bottom-md example-h4 text-upper tc-grey-600">Material Menu</h4>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voicemail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
    </div>
    <!-- /Material Menu-->

    <!-- Material Dialog-->
    <div class="push-bottom-xxl pad-bottom-lg">
      <h4 class="push-bottom-md example-h4 text-upper tc-grey-600">Material Dialog</h4>
      <p>Last dialog result: {{ lastDialogResult }}</p>
      <button mat-raised-button (click)="openDialog()">DIALOG</button>
      <button mat-raised-button (click)="showSnackbar()">SNACKBAR</button>
    </div>
    <!-- /Material Dialog-->
  </div>
</div>
