@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Teradata brand
@import './lib/theming';
// App Switcher
@import './lib/app-switcher/app-switcher.component.theme';

// Include the core styles for Covalent
@include covalent-core();

// Include material icons
@import '../node_modules/@covalent/core/common/material-icons.css';

// Include covalent utility classes
@include covalent-utilities();

// Include flex layout classes
@include covalent-layout();

// Include covalent color classes
@include covalent-colors();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$primary: $td-primary;
$accent: $td-accent;
$warn: $td-warn;

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);
@include covalent-theme($theme);
// Include Teradata brand
@include teradata-brand($theme);
// Include App Switcher Theme
@include app-switcher-theme($theme);

/* ------------------------------------- DARK THEME ------------------------------------------ */

.dark-theme {
  $dark-primary: $td-dark-primary;
  $dark-accent: $td-dark-accent;
  $dark-warn: $td-dark-warn;

  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
  @include covalent-theme($dark-theme);
  // Include Teradata brand
  @include teradata-brand($dark-theme);
  // Include App Switcher Theme
  @include app-switcher-theme($dark-theme);
}
